{% extends "pgd/base.html" %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% if page.gallery_images.count > 0 %}
        <section>
            <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="5500">
                <div class="swiper-wrapper">
                    {% for item in page.gallery_images.all %}
                        {% image item.image fill-1920x1080 as tmp_photo %}
                        <div class="swiper-slide bg-gray-lighter" title="{{ item.caption }}" data-slide-bg="{{ tmp_photo.url }}"></div>
                    {% endfor %}
                </div>
                <!-- Swiper Pagination-->
                <div class="swiper-pagination"></div>
                <!-- Swiper Navigation-->
                <div class="swiper-button-prev linear-icon-chevron-left"></div>
                <div class="swiper-button-next linear-icon-chevron-right"></div>
            </div>
        </section>
    {% endif %}

    {% if page.gallery_images.count > 0 %}
    <!-- Post Your Latest News-->
    <section class="section-xl bg-default text-center">
        <div class="container">
            <h3>Post Your Latest News</h3>
            <div class="row row-50">
                {% for item in page.related_blog_posts.all %}
                <div class="col-md-6 col-xl-4">
                    <!-- Post classic-->
                    <article class="post-minimal">
                        {% image item.news_article.header_image fill-418x315 %}
{#                        <a class="img-thumbnail-variant-1" href="{{ news_image.url }}" data-lightgallery="item">#}

{#                        <img src="{% static 'images/post-minimal-1-418x315.jpg' %}" alt="" width="418" height="315"/>#}
                        <div class="post-classic-title">
                            <h5><a href="{% pageurl item.news_article %}">{{ item.news_article.title }}</a></h5>
                        </div>
                        <div class="post-meta">
                            <div class="group-xs">
                                <a href="{% pageurl item.news_article %}">
                                <time datetime="{{ item.news_article.first_published_at|date:"Y" }}">{{ item.news_article.first_published_at|date:"M j, Y \o\b H:i" }}</time></a>, avtor {{ item.news_article.owner.get_full_name }}</a>
                        </div>
                        <div class="post-classic-body">
                            {{ item.news_article.excerpt|safe }}
                        </div>
                        <div class="post-minimal-footer"><a class="button button-link" href="{% pageurl item.news_article %}">preberi več</a></div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
