{% load static wagtailuserbar %}
{% load menu_tags %}
{% load compress %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endcompress %}
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
{#    {% if not request.is_preview %}#}
{#        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5975081-1"></script>#}
{#        <script>#}
{#          window.dataLayer = window.dataLayer || [];#}
{#          function gtag(){dataLayer.push(arguments);}#}
{#          gtag('js', new Date());#}
{#    #}
{#          gtag('config', 'UA-5975081-1');#}
{#        </script>#}
{#    {% endif %}#}

</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar 'bottom-left' %}
<!-- Page -->
<div class="page">
    <!-- Page Header-->
    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-md-stick-up-offset="69px" data-lg-stick-up-offset="1px" data-body-class="rd-navbar-default-linked">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a class="brand-name" href="/">
                                <img src="{% static 'images/logo.png' %}" alt="" width="79" height="50" class="float-left mr-3"/>
                                <h3 style="font-family: 'Libre Franklin', sans-serif; font-weight: 300; color: #FFF;">PGD Železniki</h3>
                            </a>
                        </div>
                    </div>
                    <!-- RD Navbar Nav-->

                    {% main_menu max_levels=3 use_specific=1 template="menus/main_menu.html" sub_menu_template="menus/sub_menu.html" %}
                </div>
            </nav>
        </div>
    </header>

    {% if self.get_ancestors|length > 1 %}
        <section class="breadcrumbs-custom">
            <div class="container">
                <div class="breadcrumbs-custom__inner">
                    <p class="breadcrumbs-custom__title">{{ page.title }}</p>
                    <ul class="breadcrumbs-custom__path">
                        <li><a href="/">Domov</a></li>
                        {% for p in self.get_ancestors %}
                            {% if p.is_root == False and forloop.counter > 2 %}
                                <li><a href="{% pageurl p %}">{{ p.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="active">{{ self.title }}</li>
                    </ul>
                </div>
            </div>
        </section>
    {% endif %}

    {% block content %}{% endblock %}
    <!-- Page Footer -->
    <section class="pre-footer-corporate">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
                <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    <h6>PGD Železniki</h6>
                    <ul class="list-xs">
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Naslov</dt><br />
                                <dd><a href="https://goo.gl/sZYmhu" target="_blank"><icon class="fa fa-map-marker text-primary"></icon> Češnjica 48D, 4228 Železniki</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Telefon</dt><br />
                                <dd>
                                    <ul class="list-semicolon">
                                        <li><icon class="fa fa-phone text-primary"></icon> <a href="callto:045118285">(04) 511 82 85</a></li>
                                        <li><icon class="fa fa-mobile text-primary"></icon> <a href="callto:041696365">041 696 265</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Email</dt><br />
                                <dd><a href="mailto:pgdzelezniki@gmail.com"><icon class="fa fa-envelope"></icon> pgdzelezniki@gmail.com</a></dd>
                                <dd><a href="mailto:info@pgd-zelezniki.si"><icon class="fa fa-envelope"></icon> info@pgd-zelezniki.si</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                    <h6>Navigacija</h6>
                    {% main_menu max_levels=1 use_specific=1 template="menus/main_menu_footer.html" %}
                </div>
                <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                    <h6>Klic 112</h6>
                    <ul class="list-xxs">
                        <li><small class="text-primary text-bold">Kaj moramo povedati, ko kličemo na 112?</small></li>
                        <li><span class="text-primary">KDO</span> kliče</li>
                        <li><span class="text-primary">KAJ</span> se je zgodilo</li>
                        <li><span class="text-primary">KJE</span> se je zgodilo</li>
                        <li><span class="text-primary">KOLIKO</span> je ponesrečencev</li>
                        <li>kakšne so <span class="text-primary">POŠKODBE</span></li>
                        <li>kakšne so <span class="text-primary">OKOLIŠČINE</span> na kraju nesreče</li>
                        <li>kakšno <span class="text-primary">POMOČ</span> potrebujete</li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                    <h6>Povezave</h6>
                    <ul class="list-xxs">
                        <li><a href="http://spin.sos112.si/spin2/Javno/GIS/GraficniPrikaz.aspx" target="_blank">SPIN - Informacijski sistem za zaščito in reševanje ob nesrečah in intervencijah</a></li>
                        <li><a href="https://apl.gasilec.net/Vulkan/" target="_blank">Aplikativni sistem VULKAN</a></li>
                        <li><a href="http://www.promet.si/" target="_blank">Prometno informacijski center</a></li>
                        <li><a href="http://www.vreme.si" target="_blank">ARSO</a></li>
                        <li><hr /></li>
                        <li><a href="http://gasilec.net/" target="_blank">Gasilska zveza Slovenije</a></li>
                        <li><a href="http://www.gzveza-skofjaloka.si/" target="_blank">Gasilska zveza Škofja Loka</a></li>
                        <li><a href="http://www.gasilci.org/" target="_blank">Gasilci.org</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <footer class="footer-corporate">
        <div class="container">
            <div class="footer-corporate__inner">
                <p class="rights">&copy; PGD Železniki 2018</span>.</p>
                <ul class="list-inline-xxs">
                    <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="https://www.facebook.com/gasilcizelezniki" target="_blank"></a></li>
{#                    <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>#}
{#                    <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>#}
{#                    <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>#}
{#                    <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>#}
{#                    <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>#}
                </ul>
            </div>
        </div>
    </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
{#    {% compress js %}#}
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{#    {% endcompress %}#}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>
</html>