{% extends "pgd/base.html" %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<section class="bg-default section-lg">
    <div class="container">
        <div class="row row-70">
            <div class="col-lg-7 col-xl-8 section-divided__main">
                <!-- Post classic-->
                {% for post in page.get_children %}
                    <div class="section-md">
                        <article class="post-classic">
                            <div class="post-classic-title post-classic-title-icon linear-icon-star">
                                <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                            </div>
                            {% image post.specific.header_image fill-886x668 %}
                            <div class="post-classic-body">
                                {{ post.specific.excerpt|safe }}
                            </div>
                            <div class="post-meta">
                                <div class="group"><a href="{% pageurl post %}">
                                    <time datetime="2017">{{ post.first_published_at|date:"M j, Y \o\b H:i" }}</time></a> by {{ post.owner.get_full_name }}
                                    {% if post.tags.all.count %}
                                        <ul class="list-inline-tag">
                                        {% for tag in post.tags.all %}
                                            <li><a href="#">{{ tag }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
{#                            <div class="post-classic-footer">#}
{#                                <ul class="list-inline-sm">#}
{#                                    <li><a class="icon-xxs fa-facebook icon" href="#"></a></li>#}
{#                                    <li><a class="icon-xxs fa-twitter icon" href="#"></a></li>#}
{#                                    <li><a class="icon-xxs fa-google-plus icon" href="#"></a></li>#}
{#                                    <li><a class="icon-xxs fa-vimeo icon" href="#"></a></li>#}
{#                                    <li><a class="icon-xxs fa-youtube icon" href="#"></a></li>#}
{#                                    <li><a class="icon-xxs fa-pinterest-p icon" href="#"></a></li>#}
{#                                </ul><a class="button button-link" href="image-post.html">Read more</a>#}
{#                            </div>#}
                        </article>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-5 col-xl-4 section-divided__aside section-divided__aside-left">
                <!-- Search-->
                <section class="section-md section-style-1">
                    <h5>Search</h5>
                    <!-- RD Search-->
                    <form class="rd-search rd-mailform-inline-flex text-center" action="search-results.html" method="GET" data-search-live="rd-search-results-live">
                        <div class="form-wrap form-wrap_icon linear-icon-magnifier">
                            <label class="form-label" for="rd-search-form-input">Enter  keyword</label>
                            <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                        </div>
                        <button class="button button-primary" type="submit">Go!</button>
                    </form>
                </section>

                <!-- About-->
                <section class="section-md">
                    <h5>About</h5>
                    <div class="thumbnail-classic-minimal"><img class="rounded-circle" src="images/aside-blog-about-1-210x210.jpg" alt="" width="210" height="210"/>
                        <div class="caption">
                            <p>Mr.Williamson was born in one of Detroit’s poorest blocks, all before pursuing his successful managerial career in the future. For him, the breakthrough happened when he was able to get on Harvard University’s Law School list. After graduating from there, he was working for a few years for a number of multi-million dollar corporations, climbing up the corporate ladder and...</p><a class="button button-link" href="about.html">Read more</a>
                        </div>
                    </div>
                </section>

                <!-- Categories-->
                {% with categories=page.categories.all %}
                    {% if categories %}
                        <section class="section-md">
                            <h5>Categories</h5>
                            <ul class="list-linked">
                                {% for category in categories %}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                {% endwith %}

                <!-- Posts-->
                <section class="section-md">
                    <h5>Latest Posts</h5>
                    <ul class="list-sm">
                        <li>
                            <!-- Post inline-->
                            <article class="post-inline">
                                <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">How to Use Bootstrap Framework</a></p>
                            </article>
                        </li>
                        <li>
                            <!-- Post inline-->
                            <article class="post-inline">
                                <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">Getting to another level of design and functionality.</a></p>
                            </article>
                        </li>
                        <li>
                            <!-- Post inline-->
                            <article class="post-inline">
                                <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">Creating Portfolio.</a></p>
                            </article>
                        </li>
                    </ul>
                </section>

                <!-- Custom post-->
                <section class="section-md">
                    <h5>Custom Posts</h5>
                    <ul class="list-md">
                        <li>
                            <article class="unit flex-sm-row unit-spacing-sm">
                                <div class="unit-left">
                                    <figure class="figure-inline text-center text-sm-left"><img src="images/aside-blog-custom-post-1-120x90.jpg" alt="" width="120" height="90"/>
                                    </figure>
                                </div>
                                <div class="unit-body post-inline">
                                    <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                    <p class="post-inline__link"><a href="standard-post.html">How to Use Bootstrap Framework</a></p>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="unit flex-sm-row unit-spacing-sm">
                                <div class="unit-left">
                                    <figure class="figure-inline text-center text-sm-left"><img src="images/aside-blog-custom-post-2-120x90.jpg" alt="" width="120" height="90"/>
                                    </figure>
                                </div>
                                <div class="unit-body post-inline">
                                    <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                    <p class="post-inline__link"><a href="standard-post.html">5 Things to Know Before You Buy an HTML Template</a></p>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="unit flex-sm-row unit-spacing-sm">
                                <div class="unit-left">
                                    <figure class="figure-inline text-center text-sm-left"><img src="images/aside-blog-custom-post-3-120x90.jpg" alt="" width="120" height="90"/>
                                    </figure>
                                </div>
                                <div class="unit-body post-inline">
                                    <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                    <p class="post-inline__link"><a href="standard-post.html">Installing Your First HTML Template</a></p>
                                    <p class="post-inline__text">All the HTML templates that we have here have had a vast team of professional designers sketching, working and executing the ultimate visual look for it.</p>
                                    <div class="post-inline__footer"><a class="post-inline__comment" href="standard-post.html">3 comment(s)</a></div><a class="button button-link" href="standard-post.html">Read more</a>
                                </div>
                            </article>
                        </li>
                    </ul>
                </section>
                <!-- Resent comments-->
                <section class="section-md">
                    <h5>Recent Comments</h5>
                    <ul class="list-sm">
                        <li>
                            <article class="post-inline">
                                <div class="post-inline__header"><a class="post-inline__author meta-author" href="standard-post.html">Brian Williamson on</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">Site Speed and Search Engines Optimization Aspects</a></p>
                            </article>
                        </li>
                        <li>
                            <article class="post-inline">
                                <div class="post-inline__header"><a class="post-inline__author meta-author" href="standard-post.html">Brian Williamson on</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">5 Things to Know Before You Buy an HTML Template</a></p>
                            </article>
                        </li>
                        <li>
                            <article class="post-inline">
                                <div class="post-inline__header"><a class="post-inline__author meta-author" href="standard-post.html">Brian Williamson on</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">Turning Your Site into a Sales Machine</a></p>
                            </article>
                        </li>
                    </ul>
                </section>

                <!-- Tags-->
                {% if page.tags.all.count %}
                    <section class="section-md">
                        <h5>Tags</h5>
                        <ul class="list-tags">
                            {% for tag in page.tags.all %}
                                <li><a href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                <section class="section-md">
                    <h5>Calendar</h5>
                    <!-- RD Calendar-->
                    <div class="booking-calendar booking-calendar-aside" id="chapters-select">
                        <div class="rdc-panel">
                            <div class="small"><span class="rdc-month"></span> <span class="rdc-fullyear"></span>
                            </div>
                        </div>
                        <div class="rdc-table"></div>
                        <div class="rdc-events"><a class="rdc-events_close"></a>
                            <ul class="list-unstyled">
                                <li class="rdc-event" data-date="11/15/2017">
                                    <table class="table rdc-event-booking-table">
                                        <thead>
                                        <tr>
                                            <th colspan="3">
                                                <p class="heading-6">Available Appointments on <span>January 14, 2016</span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">8:00am - 9:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">10:30am - 11:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="rdc-event" data-date="12/16/2017">
                                    <table class="table rdc-event-booking-table">
                                        <thead>
                                        <tr>
                                            <th colspan="3">
                                                <p class="heading-6">Available Appointments on <span>February 14, 2016</span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">8:00am - 9:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">10:30am - 11:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="rdc-event" data-date="01/14/2018">
                                    <table class="table rdc-event-booking-table">
                                        <thead>
                                        <tr>
                                            <th colspan="3">
                                                <p class="heading-6">Available Appointments on <span>March 14, 2016</span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">8:00am - 9:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">10:30am - 11:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="rdc-event" data-date="02/14/2018">
                                    <table class="table rdc-event-booking-table">
                                        <thead>
                                        <tr>
                                            <th colspan="3">
                                                <p class="heading-6">Available Appointments on <span>April 14, 2016</span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">8:00am - 9:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">10:30am - 11:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="rdc-event" data-date="03/14/2018">
                                    <table class="table rdc-event-booking-table">
                                        <thead>
                                        <tr>
                                            <th colspan="3">
                                                <p class="heading-6">Available Appointments on <span>May 14, 2016</span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">8:00am - 9:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">10:30am - 11:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="rdc-event" data-date="04/14/2018">
                                    <table class="table rdc-event-booking-table">
                                        <thead>
                                        <tr>
                                            <th colspan="3">
                                                <p class="heading-6">Available Appointments on <span>June 14, 2016</span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">8:00am - 9:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dl class="dl-horizontal-mod-1">
                                                    <dt><span class="icon icon-md icon-primary linear-icon-clock3"></span></dt>
                                                    <dd>
                                                        <time datetime="2016">10:30am - 11:00am</time>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><span>2 time slots available</span></td>
                                            <td class="text-md-right">
                                                <button class="button button-primary" data-toggle="modal" data-target="#appointment">Book Appointment</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                        <div class="rdc-panel-nav"><a class="rdc-prev">Prev month</a><a class="rdc-next">Next month</a></div>
                    </div>
                </section>

                <!-- Archive-->
                <section class="section-md">
                    <h5>Archive</h5>
                    <ul class="list-archive">
                        <li><a href="#">April 2017</a></li>
                        <li><a href="#">February 2017</a></li>
                        <li><a href="#">January 2017</a></li>
                        <li><a href="#">December 2017</a></li>
                        <li><a href="#">November 2017</a></li>
                        <li><a href="#">October 2017</a></li>
                    </ul>
                </section>

                <!-- Follow us-->
                <section class="section-md">
                    <h5>Follow Us</h5>
                    <ul class="list-inline-sm">
                        <li><a class="icon-sm fa-facebook icon" href="#"></a></li>
                        <li><a class="icon-sm fa-twitter icon" href="#"></a></li>
                        <li><a class="icon-sm fa-google-plus icon" href="#"></a></li>
                        <li><a class="icon-sm fa-vimeo icon" href="#"></a></li>
                        <li><a class="icon-sm fa-youtube icon" href="#"></a></li>
                        <li><a class="icon-sm fa-pinterest-p icon" href="#"></a></li>
                    </ul>
                    <h5>Get latest news delivered daily!</h5>
                    <!-- RD Mailform-->
                    <form class="rd-mailform rd-mailform_style-1 text-center rd-mailform-inline-flex" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap form-wrap_icon linear-icon-envelope">
                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                            <label class="form-label" for="contact-email">Enter please your e-mail</label>
                        </div>
                        <button class="button button-primary" type="submit">Get!</button>
                    </form>
                </section>
                <!-- Twitter-->
                <section class="section-md">
                    <h5>Twitter</h5><a class="twitter-timeline" href="https://twitter.com/templatemonster" data-height="420">Tweets by templatemonster</a>
                </section>
                <!-- Facebook-->
                <section class="section-md">
                    <h5>Facebook</h5>
                    <!-- Facebook Feed-->
                    <div id="fb-root"></div>
                    <div class="fb-page-responsive">
                        <div class="fb-page" data-href="https://www.facebook.com/TemplateMonster" data-tabs="timeline" data-height="212" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/TemplateMonster"><a href="https://www.facebook.com/TemplateMonster">TemplateMonster</a></blockquote>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Flickr-->
                <section class="section-md">
                    <h5>Flickr </h5>
                    <div class="flickr grid-4" data-flickr-tags="html-m2" data-lightgallery="group">
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>
<!-- Modal-->
<div class="modal fade text-left" id="appointment" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span class="icon icon-md linear-icon-cross"></span></button>
                <h5 class="modal-title">Request Appointment</h5>
            </div>
            <div class="modal-body">
                <div class="group-xl"><span><span class="icon icon-md icon-primary linear-icon-calendar-full"></span>August 11, 2017</span><span><span class="icon icon-md icon-primary linear-icon-clock3"></span>10:00 am – 12:00 am</span></div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="login" checked="checked">I am a new customer
                    </label>
                </div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="register">I am a current customer
                    </label>
                </div>
                <hr>
                <div class="register-form">
                    <h5>Registration: <span class="text-accent">*</span></h5>
                    <p>Your first name and an email address are required.</p>
                    <!-- Login form-->
                    <form>
                        <div class="rd-mailform-inline-flex">
                            <div class="form-wrap">
                                <label class="form-label" for="name-2">First Name</label>
                                <input class="form-input" id="name-2" type="text" name="name" data-constraints="@Required">
                            </div>
                            <div class="form-wrap">
                                <label class="form-label" for="email">E-mail</label>
                                <input class="form-input" id="email" type="email" name="email" data-constraints="@Email @Required">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="password-2">Password</label>
                            <input class="form-input" id="password-2" type="password" name="password" data-constraints="@Required">
                        </div>
                        <div class="group">
                            <button class="button button-primary" type="submit">Book Appointment</button>
                            <button class="button button-black" type="button" data-dismiss="modal">close</button>
                        </div>
                    </form>
                </div>
                <div class="login-form">
                    <h5>Login</h5>
                    <!-- Login form-->
                    <form>
                        <div class="form-wrap">
                            <label class="form-label" for="name">Username or e-mail</label>
                            <input class="form-input" id="name" type="text" name="name" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-input" id="password" type="password" name="password" data-constraints="@Required">
                        </div>
                        <div class="group">
                            <button class="button button-primary" type="submit">Book Appointment</button>
                            <button class="button button-black" type="button" data-dismiss="modal">close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}