{% extends "pgd/base.html" %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<section class="bg-default section-lg">
    <div class="container">
        <div class="row row-60 justify-content-sm-center">
            <div class="col-lg-8 section-divided__main">
                <section class="section-md post-single-body">
                    <h3>{{ page.title }}</h3>
                    <div class="post-meta">
                        <div class="group">
                            <a href="{% pageurl page %}">
                            <time datetime="{{ post.first_published_at|date:"Y" }}">{{ post.first_published_at|date:"M j, Y \o\b H:i" }}</time></a>, avtor {{ page.owner.get_full_name }}</a>
                            {% if page.tags.all.count %}
                                <ul class="list-inline-tag">
                                {% for tag in page.tags.all %}
                                    <li><a href="#">{{ tag }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    {{ page.excerpt|safe }}

                    {% if page.header_image %}
                        {% image page.header_image fill-886x668 %}
                    {% endif %}

                    {{ page.body|safe }}

                    {% if page.post_gallery_images.count > 0 %}
                        <hr class="mb-5 mt-5" />

                        <h4 class="mb-3">Galerija</h4>
                        <div class="slick-gallery">
                            <!-- Slick Carousel-->
                            <div class="slick-slider carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel" data-lightgallery="group">
                                {% for item in page.post_gallery_images.all %}
                                    <div class="item">
                                        {% image item.image fill-1920x1080 as full_size_gallery_image %}
                                        <a class="img-thumbnail-variant-1" href="{{ full_size_gallery_image.url }}" title="{{ item.caption }}" data-lightgallery="item">
                                            <figure>{% image item.image fill-886x668 title=item.caption %}</figure>
                                            <div class="caption"><span class="icon icon-lg linear-icon-magnifier"></span></div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="slick-slider" id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="3" data-sm-items="4" data-md-items="5" data-lg-items="6" data-xl-items="8" data-slide-to-scroll="3" data-sm-slide-to-scroll="4" data-md-slide-to-scroll="5" data-lg-slide-to-scroll="6">
                                {% for item in page.post_gallery_images.all %}
                                    <div class="item">
                                        {% image item.image fill-168x112 title=item.caption %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </section>
            </div>
            <div class="col-lg-4 section-divided__aside section-divided__aside-left">
                <!-- Categories-->
                {% with categories=page.categories.all %}
                    {% if categories %}
                        <section class="section-md">
                            <h5>Kategorije</h5>
                            <ul class="list-linked">
                                {% for category in categories %}
                                    <li><a href="{{ page.blog_page.url }}category/{{ category.slug }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                {% endwith %}

                <!-- Posts-->
                {% if blog_latest_posts.count > 0 %}
                    <section class="section-md">
                        <h5>Zadnji članki</h5>
                        <ul class="list-sm">
                            {% for p in blog_latest_posts %}
                            <li>
                                <!-- Post inline-->
                                <article class="post-inline">
                                    <div class="post-inline__header"><span class="post-inline__time">{{ p.first_published_at|date:"M j, Y \o\b H:i" }}</span> - avtor {{ p.owner.get_full_name }}</div>
                                    <p class="post-inline__link"><a href="{% pageurl p %}">{{ p.title }}</a></p>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                <!-- Tags-->
                {% if page.tags.all.count %}
                    <section class="section-md">
                        <h5>Oznake</h5>
                        <ul class="list-tags">
                            {% for tag in page.tags.all %}
                                <li><a href="{{ page.blog_page.url }}tag/{{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
