{% extends "pgd/base.html" %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<section class="bg-default section-lg">
    <div class="container">
        <div class="row row-60 justify-content-sm-center">
            <div class="col-lg-8 section-divided__main">
                <section class="section-md post-single-body">
                    <h3>{{ page.title }}</h3>
                    <div class="post-meta">
                        <div class="group">
                            <a href="{% pageurl page %}">
                            <time datetime="{{ post.first_published_at|date:"Y" }}">{{ post.first_published_at|date:"M j, Y \o\b H:i" }}</time></a> by {{ page.owner.get_full_name }}</a>
                            {% if page.tags.all.count %}
                                <ul class="list-inline-tag">
                                {% for tag in page.tags.all %}
                                    <li><a href="#">{{ tag }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    {{ page.excerpt|safe }}

                    {% image page.header_image fill-886x668 as header_image %}
                    <a class="img-thumbnail-variant-1" href="{{ header_image.url }}" data-lightgallery="item">
                    <figure>{% image page.header_image fill-886x668 %}</figure>
                    <div class="caption"><span class="icon icon-lg linear-icon-magnifier"></span></div></a>

                    {{ page.body|safe }}

{#                    <ul class="list-inline-sm">#}
{#                        <li><a class="icon-sm fa-facebook icon" href="#"></a></li>#}
{#                        <li><a class="icon-sm fa-twitter icon" href="#"></a></li>#}
{#                        <li><a class="icon-sm fa-google-plus icon" href="#"></a></li>#}
{#                        <li><a class="icon-sm fa-vimeo icon" href="#"></a></li>#}
{#                        <li><a class="icon-sm fa-youtube icon" href="#"></a></li>#}
{#                        <li><a class="icon-sm fa-pinterest-p icon" href="#"></a></li>#}
{#                    </ul>#}
                </section>

                <section class="section-md">
                    <h5>Latest Posts</h5>
                    <div class="row row-60">
                        <div class="col-md-6">
                            <!-- Post classic-->
                            <article class="post-classic post-minimal"><img src="images/post-minimal-1-418x315.jpg" alt="" width="418" height="315"/>
                                <div class="post-classic-title">
                                    <h5><a href="image-post.html">10 Reasons to Buy Monstroid<sup>2</sup>.</a></h5>
                                </div>
                                <div class="post-meta">
                                    <div class="group"><a href="image-post.html">
                                        <time datetime="2017">Jan.20, 2016</time></a><a class="meta-author" href="image-post.html">by Brian Williamson</a></div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <!-- Post classic-->
                            <article class="post-classic post-minimal"><img src="images/post-classic-1-886x668.jpg" alt="" width="886" height="668"/>
                                <div class="post-classic-title">
                                    <h5><a href="image-post.html">Getting to another  level of design and functionality.</a></h5>
                                </div>
                                <div class="post-meta">
                                    <div class="group"><a href="image-post.html">
                                        <time datetime="2017">Jan.20, 2016</time></a><a class="meta-author" href="image-post.html">by Brian Williamson</a></div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 section-divided__aside section-divided__aside-left">
                <!-- Categories-->
                {% with categories=page.categories.all %}
                    {% if categories %}
                        <section class="section-md">
                            <h5>Categories</h5>
                            <ul class="list-linked">
                                {% for category in categories %}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                {% endwith %}

                <!-- Posts-->
                <section class="section-md">
                    <h5>Latest Posts</h5>
                    <ul class="list-sm">
                        <li>
                            <!-- Post inline-->
                            <article class="post-inline">
                                <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">How to Use Bootstrap Framework</a></p>
                            </article>
                        </li>
                        <li>
                            <!-- Post inline-->
                            <article class="post-inline">
                                <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">Getting to another level of design and functionality.</a></p>
                            </article>
                        </li>
                        <li>
                            <!-- Post inline-->
                            <article class="post-inline">
                                <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2016</span><a class="post-inline__author meta-author" href="standard-post.html">by Brian Williamson</a></div>
                                <p class="post-inline__link"><a href="standard-post.html">Creating Portfolio.</a></p>
                            </article>
                        </li>
                    </ul>
                </section>

                <!-- Tags-->
                <!-- Tags-->
                {% if page.tags.all.count %}
                    <section class="section-md">
                        <h5>Tags</h5>
                        <ul class="list-tags">
                            {% for tag in page.tags.all %}
                                <li><a href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                <!-- Flickr-->
                <section class="section-md">
                    <h5>Flickr</h5>
                    <div class="flickr grid-4" data-flickr-tags="html-m2" data-lightgallery="group">
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                        <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal" data-image_b="href" data-lightgallery="item">
                            <figure><img src="images/_blank.png" data-image_s="src" data-title="alt" width="75" height="75" alt=""></figure>
                            <div class="thumb-minimal__overlay"></div></a></div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

{% endblock %}
